* {
  z-index: 2;
  box-sizing: border-box;
}

#particles-js {
  background: #578caa;
  canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.navbar {

  a {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

}

.header {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header-arrow {
    padding-top: 20rem;
  }

}

.about {

  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 5rem;

  .selfie {
    border-radius: 50%;
  }

  .blurb {
    display: flex;
    align-items: center;
  }
}

.project {

  .card {
    margin-bottom: 3rem;
  }

}

#experience {
  
  margin-bottom: 3rem;

  .bullet-icon {
    color: #23d160;
  }

  h3 {
    strong {
      color: #1da74d
    }
  }
}

#contact {

  .linkedin {
    color: #0077B5
  }

  .twitter {
    color: #0084b4
  }

  .github {
    color: #24292e
  }

  .email {
    color: #c71610
  }

}
