* {
  z-index: 2;
}

#particles-js {
  background: #578caa;
  canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.header {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about {

  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 5rem;

  .selfie {
    border-radius: 50%;
  }

  .blurb {
    display: flex;
    align-items: center;
  }
}

#experience {
  
  .bullet-icon {
    color: #23d160;
  }

  h3 {
    strong {
      color: #1da74d
    }
  }
}
